/* Remove default margin */
body{
margin:0;
font-family:Arial;
transition:background 0.6s ease;
}

/* WEATHER THEMES */

.sunny{
background:linear-gradient(135deg,#f6d365,#fda085);
}

.night{
background:linear-gradient(135deg,#141e30,#243b55);
}

.cloudy{
background:linear-gradient(135deg,#bdc3c7,#2c3e50);
}

.rain{
background:linear-gradient(135deg,#4e54c8,#8f94fb);
}


/* Center app */
.app{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}


/* Weather card */
.card{

background:rgba(255,255,255,0.2);

padding:25px;

border-radius:20px;

/* Glassmorphism effect */
backdrop-filter:blur(10px);

width:360px;

color:white;

}


/* Search section */
.search{
display:flex;
gap:10px;
margin-bottom:20px;
}


/* Input field */
.search input{
flex:1;
padding:8px;
border-radius:5px;
border:none;
}


/* Buttons */
button{
padding:8px 12px;
border:none;
border-radius:5px;
cursor:pointer;
}


/* Weather details grid */
.details{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:15px;
}


/* Chart styling */
canvas{

margin-top:20px;

background:rgba(255,255,255,0.2);

padding:10px;

border-radius:10px;

}


/* Loading screen */
#loader{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:#4facfe;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

z-index:1000;

}


/* Spinner animation */
.spinner{

border:6px solid white;

border-top:6px solid transparent;

border-radius:50%;

width:50px;

height:50px;

animation:spin 1s linear infinite;

}


/* Spinner rotation */
@keyframes spin{

0%{transform:rotate(0deg)}

100%{transform:rotate(360deg)}

}
